@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    strong {
        font-family: "Montserrat" ;
        font-weight: 500;
    }
    a {
        /* color: #b35d5d; */
        position: relative;

    }
    a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        left: 0;
        right: 0;
        border-bottom: dotted 4px currentColor;
    }
}
